*{
  list-style-type: none;

}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(114, 89, 89);
  color: white;
  text-align: center;
  list-style-type: none;
  height: 100%;
}
.App { 
  padding-bottom: 7%;
  padding-top:7%;
  max-width: 500px;
  margin: 15px;  
}
.error{
  color: rgb(165, 21, 21);
}
button{
  border-radius: 5px;
  color: white;
  background-color: rgb(108, 129, 143);
  height: 25px;
  margin: 2px;
}
input, select{
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 3px;
}
select{
  border: 1px solid black;
}
li, form{
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-bottom: 5px;
  max-width: 500px;
}
.details{
  text-align: left;
  margin-left: 15px;
  margin-bottom: 10px;
}
.initiativeDisplay{
  display: block;
  width: 100px;

}
.initTitle{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
}
.initTitle h3, p{
  display: block;
  margin-bottom: 0px;
  margin-top: 0px;
}
.heading{
  display: flex;
}
.hp{
  width: 30px;
}
.instructions{
  margin-bottom: 30px;
}
legend{
  font-size: 20px;
}
.nav{
  height: 35px;
}
